<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI - Free Bootstrap Framework and Themes</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../public/css/flat-ui.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="shortcut icon" href="../public/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../public/js/libs/html5shiv.js"></script>
      <script src="../public/js/libs/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          
          <div class="navbar-header">
            
            <a class="navbar-brand" href="#">MiTsuru</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">           
              <li class="active">
                <a href="#fakelink" >代码片段</a>
              </li>
              <li >
                <a href="#">Demo</a>
              </li>
              <li><a href="#fakelink">About It</a></li>
            </ul>
            <form class="navbar-form mi-navbar-form " role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search By tags">

              </div>
              
              <button type="submit" class="btn btn-primary">TouchMe</button>
              
            </form>
          </div>
          

        </div>
      </nav>
      <section>
        <div class="row mi-row">
          
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="tile">
              
              
              <p class="code-block">100% convertable to HTML/CSS layout.</p>
              <p class="tag-block">
                <span class="label label-info">标签1</span>
                <span class="label label-info">标签2</span>
                <span class="label label-info">标签3</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
                <span class="label label-info">标签4</span>
              </p>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-eye"></span></a>
                  <a class="btn btn-primary" href="#fakelink">
                    <span class="fui-cmd"></span>
                    <div class="tooltip fade bottom in" >
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">
                      Copy Success!</div>
                    </div>
                  </a>
                  <a class="btn btn-primary mi-heart-btn" href="#fakelink">
                    <span class="fui-heart"></span>
                    <span class="badge">34</span>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </section>
    </div>
    <!-- Load JS here for greater good =============================-->
    <script src="../public/js/libs/jquery-1.8.3.min.js"></script>
    <script src="../public/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../public/js/libs/jquery.ui.touch-punch.min.js"></script>
    <script src="../public/js/libs/bootstrap.min.js"></script>
    <script src="../public/js/libs/bootstrap-select.js"></script>
    <script src="../public/js/libs/bootstrap-switch.js"></script>
    <script src="../public/js/libs/flatui-checkbox.js"></script>
    <script src="../public/js/libs/flatui-radio.js"></script>
    <script src="../public/js/libs/jquery.tagsinput.js"></script>
    <script src="../public/js/libs/jquery.placeholder.js"></script>
    
    <script src="../public/js/libs/application.js"></script>
  </body>
</html>
